<mat-card>
  <mat-card-header>
    <mat-card-title>Pets</mat-card-title>
    <mat-card-subtitle>They keep us company</mat-card-subtitle>
    <img mat-card-avatar src="https://cdn.pixabay.com/photo/2018/04/20/17/18/cat-3336579_1280.jpg" alt="">
  </mat-card-header>
  <img mat-card-image src="https://cdn.pixabay.com/photo/2018/10/01/09/21/pets-3715733_1280.jpg" alt="">
  <mat-card-content>
    This is the Card Content
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button>Login</button>
  </mat-card-actions>
  <mat-card-footer>Pets are awesome</mat-card-footer>
</mat-card>