<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item [mat-menu-trigger-for]="subMenu">FrontEnd</button>
    <button mat-menu-item>BackendEnd</button>
</mat-menu>

<button mat-flat-button color="primary" [mat-menu-trigger-for]="appMenu" class="center">Menu</button>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
</mat-menu>

<mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
        <button mat-menu-item>
            <mat-icon>build</mat-icon>
            Settings
        </button>
        <button mat-menu-item>
            <mat-icon>favorite</mat-icon>
            Hobby is {{hobby}}
        </button>
        <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            Logout - {{name}}
        </button>
    </ng-template>
</mat-menu>

<button mat-raised-button [mat-menu-trigger-for]="lazyMenu" [matMenuTriggerData]="{name: 'Vishwas', hobby: 'Football'}">Vishwas</button>
<button mat-raised-button [mat-menu-trigger-for]="lazyMenu" [matMenuTriggerData]="{name: 'Codevolution', hobby: 'Teaching'}">Codevolution</button>

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
  